.app-list-item{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.icon-heart{
    display: inline-block;
    min-width: 60px;
    text-align: center;
    color: #CCCCCC;
}

.icon-heart--red{
    color: rgb(243, 0, 0);
}

.icon-star{
    color: #CCCCCC;
}

.icon-star:hover{
    color: #CCCC33;
}

.icon-trash{
    color: #990000;
}

.app-list-item-label{
    max-width: 70%;
    display: inline-block;
    word-wrap: break-word;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 1126px) {
    .app-list-item{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app-list-item-label{
        max-width: 100%;
    }
}

.important .app-list-item-label{
 border-bottom: 2px solid #CCCC33;
}

.important .icon-star{
    color: #CCCC33;
}